<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
    <test name="SimpleCalc TestNG Tests">
        <classes>
            <class name="UnitTests.TestNGTests"/>
        </classes>
    </test>
    <test name="SimpleCalc Cucumber Tests">
        <classes>
            <class name="CucumberTests.CucumberTests"/>
        </classes>
    </test>
</suite>